body {
    background: #4392a9;
    min-width: 535px;
}

p {
    font-family: 'Acme', sans-serif;
    line-height: 25px;
    font-size: 20px;
    margin-top: 15px;
}

#currentWord, #leftText {
    text-transform: capitalize;
}

#header {
    background: #2d6272;
    text-align: center;
    height: 20%;
    min-width: 545px;
    border-bottom: 4px ridge #393D3F;
}
#logo {
    width: 50%;
}
#content{
    margin: 25px auto;
    border: 5px ridge #393D3F;
    height: 500px;
    width: 535px;
}

#leftside {
    text-align: center;
    float: left;
    background: #28515e;
    width: 197px;
    height: 100%;
}

#rightside {
    float: left;
    border-left: 6px #393D3F ridge;
    background: #28515e;
    width: 332px;
    height: 100%;
    text-align: center;
}

#currentWord {
    text-transform: capitalize;
    letter-spacing: 10px;
}

.borderBelowImage{
    border-bottom: 5px ridge #393D3F;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}